

body{
    background-color:   #FF8672 ;
    font-family: Helvetica;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #363636;
    }

article{
    background-color:#EFEFEF; 
    
}

.datos_personales{
    background-color:#a4ddd1a3 ;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    
}



.datos_personales img {
    width: 250px;
    float: left;
    border-radius: 50%;
    border: 6px solid #FF8672;
    margin: 30px 30px 30px 30px;
}

.datos_personales div {
    float:inline-start;
}
.datos_personales .title {
    font-size: 30px;
    margin: 0px;
    font-weight: bold;
}

.datos_personales .profesion {
    font-size: 20px;
    margin: 0px;
}


.cabecera {
    color: #f36249; text-transform: uppercase; font-weight: bold; text-decoration: underline;}

.cursiva {
    font-style: oblique; }

section{
    padding-left: 25px;
    padding-right: 25px;
}

ul{
    margin-left: 0;
    padding-left: 0;
}
ul li {
    list-style-type: square;
    margin-left: 1em;
    line-height: 25px;
}

.tema_de_investigacion p {
    line-height: 25px ;
}
/*body{
    background-color:  #eec170  ;
    margin: 25px;
}

article{
    background-color:#f2d2b3; 
}

.datos_personales{
    background-color: #f2eadc;

}


